.card
  bb 1px solid #ddd
  list-style none
  bg #fff
  d block
  clearfix()
  relative()
  h 88px

  .btn-rectangle
  .btn-square
    d block
    h 60px + 14px + 13px

  .btn-rectangle
    w 100%
    p .75em
    clearfix()

  a.btn-rectangle
    .title
      c link
    &:hover
      bg m245

  .btn-square
    absolute()
    top 0
    right 0
    lh 60px + 14px + 13px
    w 44px
    ta center
    bl 1px solid #eee
    c anchor
    bg #fff
    c dim

  a.btn-square
    &:hover
      bg m245
      c txt
      blc #ddd

  .card-logo
    mr x*0.75

  .title
    c #333
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    mr 44px

  .small, .tags
    mr 44px
    vertical-align top

  .small
    h 1.5em
    f 80%/1.5 sans
    c dim
    mb 0.33em
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  .tags
    f 60%/1.5 sans

  .tag
    d inline-block
    bg #eee
    c dim
    p 0 0.33em
    &.red
      bg #f00
      c #fff
    &.yellow
      bg #ff0
      c #000
    &.green
      bg #0f0
      c #000

.card.max
  .btn-rectangle
    w 100%

.card.head, .card.text
  .card-logo
    mr x*0.875

  .title
    f 1.5em/1.5 sans
    pt 0

.card.text
  .btn-rectangle
    p 1em

.card-logo
  d block
  fl()
  w 60px
  h 60px
  mr x*0.75
